<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:each="task : ${tasks}">
        <span th:text="${task.name} + ' (Время начала: ' + ${task.startDate} + ', ' + 'Крайний срок: ' + ${task.endDate} + ')'"></span>
        	<form th:method="DELETE" th:action="@{/deleteTask/{id}(id=${task.getId()})}" th:object=${userId}>
        		<input type="hidden" name="userId" th:value="${id}">
			<input type="submit" value="Delete task">

		</form>
		
		<form th:method=GET th:action="@{/updateTask/{id}(id=${task.getId()})}">
			<input type="submit" value="Update task">
		</form>
    </div>

    <br/>
    <hr/>

    <form th:method="POST" th:action="@{/newTask}" th:object="${task}">
        <label for="name">Enter task name</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>

        <label for="description">Write description</label>
        <input type="text" th:field="*{description}" id="description">
        <br/>

	<input type="hidden" name="userId" th:value="${id}">
        <input type="submit" value="Add">        
    </form>
</body>
</html>
