<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:each="task : ${tasks}">
        <span th:text="${task.name} + ' (Время начала: ' + ${task.startDate} + ', ' + 'Крайний срок: ' + ${task.endDate} + ')'"></span>
    </div>

    <br/>
    <hr/>

    <form th:method="POST" th:action="@{/newTask}" th:object="${task}">
        <label for="name">Enter task name</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>

        <label for="description">Write description</label>
        <input type="text" th:field="*{description}" id="description">
        <br/>


        <input type="submit" value="Add">        
    </form>
</body>
</html>
